<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accounts List</title>
    </head>
    <body>
        <main>
            <header>
                <nav>
                    {% if user.is_authenticated %}
                        <ul>
                            <li>
                                <a href="{% url "logout" %}">Logout</a>
                            </li>
                            <li>
                                <a href="{% url "create_account" %}">Create Account</a>
                            </li>
                            <li>
                                <a href="{% url "home" %}">My Receipts</a>
                            </li>
                            <li>
                                <a href="{% url "create_receipt" %}">Create Receipt</a>
                            </li>
                            <li>
                                <a href="{% url "category_list" %}">Category List</a>
                            </li>
                            <li>
                                <a href="{% url "create_category" %}">Create Category</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url "signup" %}">Sign Up</a>
                            </li>
                            <li>
                                <a href="{% url "login" %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            <h1>Accounts List</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </thead>
                <tbody>
                    {% for account_item in accounts_list %}
                        <tr>
                            <td>{{ account_item.name }}</td>
                            <td>{{ account_item.number }}</td>
                            <td>{{ account_item.receipts.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
