<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expense Categories</title>
    </head>
    <body>
        <main>
            <header>
                <nav>
                    {% if user.is_authenticated %}
                        <ul>
                            <li>
                                <a href="{% url "logout" %}">Logout</a>
                            </li>
                            <li>
                                <a href="{% url "create_category" %}">Create Category</a>
                            </li>
                            <li>
                                <a href="{% url "home" %}">My Receipts</a>
                            </li>
                            <li>
                                <a href="{% url "create_receipt" %}">Create Receipt</a>
                            </li>
                            <li>
                                <a href="{% url "account_list" %}">Account List</a>
                            </li>
                            <li>
                                <a href="{% url "create_account" %}">Create Account</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url "signup" %}">Sign Up</a>
                            </li>
                            <li>
                                <a href="{% url "login" %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            <h1>Expense Categories</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </thead>
                <tbody>
                    {% for item in expense_categories %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.receipts.count }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </main>
    </body>
</html>
