<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Receipts - Home</title>
    </head>
    <body>
        <main>
            <header>
                <nav>
                    {% if user.is_authenticated %}
                        <ul>
                            <li>
                                <a href="{% url "logout" %}">Logout</a>
                            </li>
                            <li>
                                <a href="{% url "create_receipt" %}">Create Receipt</a>
                            </li>
                            <li>
                                <a href="{% url "category_list" %}">Category List</a>
                            </li>
                            <li>
                                <a href="{% url "create_category" %}">Create Category</a>
                            </li>
                            <li>
                                <a href="{% url "account_list" %}">Account List</a>
                            </li>
                            <li>
                                <a href="{% url "create_account" %}">Create Account</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url "signup" %}">Sign Up</a>
                            </li>
                            <li>
                                <a href="{% url "login" %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </thead>
                <tbody>
                    {% for item_receipt in receipt_list %}
                        <tr>
                            <td>{{ item_receipt.vendor }}</td>
                            <td>{{ item_receipt.total }}</td>
                            <td>{{ item_receipt.tax }}</td>
                            <td>{{ item_receipt.date|date:"m/d/y" }}</td>
                            <td>{{ item_receipt.category }}</td>
                            <td>{{ item_receipt.account }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
